:root {
    --border: 1px solid black;
}

* {
    border: var(--border);
}

header {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--border);
}

#high-score-title {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--border);
}

main {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#high-score-list {
    height: 90%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--border);
}

footer {
    height: 14vh;
    border: var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
}