:root {
    --border: 1px solid black;
}

* {
    border: var(--border);
}

header {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--border);
}

#high-score-title {
    height: 30%;
    font-size: 500%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--border);
}

main {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

form {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: var(--border);
}

#form-name {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#username {
    width: 80%;
}

#buttons-sec {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


#high-score-list {
    height: 85%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--border);
}

footer {
    height: 9vh;
    border: var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
}